POSTGRES_USER=prince
POSTGRES_PASSWORD=changeme
POSTGRES_DB=prince
REVERSE_PROXY_PORT=8080

JOBS_ADMIN_EMAIL=admin@prince.local
JOBS_ADMIN_PASSWORD=ChangeMe123!

FILE_STORAGE_ROOT_USER=prince-admin
FILE_STORAGE_ROOT_PASSWORD=ChangeMe123!
FILE_STORAGE_BUCKET=product-files
